@import "tailwindcss";

/* <!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>coffee-shop</title>
    <link rel="icon" href="https://static.vecteezy.com/system/resources/previews/047/530/610/non_2x/coffee-logo-in-flat-design-style-graphic-free-png.png">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="src/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  </head>
  <style>
    header{
      background: url(src/images/bg-image.jpg);
    }
  </style>
  <body class="font-[Roboto]">
    <header class="bg-cover bg-center">
      <div class="flex items-center justify-between">
        <div class="rightside flex items-center">
          <div><img src="https://static.vecteezy.com/system/resources/previews/047/530/610/non_2x/coffee-logo-in-flat-design-style-graphic-free-png.png" alt="" width="50"></div>
          <div class="text-xl font-medium text-amber-800"><span>Coffee Mart</span></div>
        </div>
        <div class="leftside flex items-center text-amber-600">
          <div>Home</div>
          <div>About Us</div>
          <div>Menu</div>
          <div>Contact</div>
          <div><Button type="button"><i class="fa-solid fa-map-location-dot"></i> Visit Us</Button></div>
        </div>
      </div>
    </header>
  </body>
</html> */
